In [14]:
import onedrive
import pandas as pd

Fruits = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgX2ISEEtPDUQPQLQ?e=u1lxao", name="Fruits Group")
NSVeg = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgYVP0cqr769sZpIA?e=QHbYcr", name="Vegetables Group")
Potatoes = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgcumMfzxhQdwDcWA?e=CdkUNF", name="Vegetables Group")
StarchyVeg = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPge52OmuiBxOqwbTQ?e=7ONDlx", name="Vegetables Group")
BeanLegume = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgfWilAsD5HvgRopA?e=gQIPx4", name="Beans, Eggs, Meats, and Nuts Group")
NutsSeeds = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgglQeMRUDh_1uoXQ?e=jri8gM", name="Beans, Eggs, Meats, and Nuts Group")
RefinedGrains = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgjTm7G5rmhWnX0IQ?e=Yy6hqh", name="Grains and Wheat Group")
WholeGrains = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgkQZnWmkkI7cbbOw?e=ab2NF5", name="Grains and Wheat Group")
ProcessedMeat = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPglVDt3nryNyqWpsA?e=qydSaf", name="Beans, Eggs, Meats, and Nuts Group")
Seafoods = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgmn-qkBSvvHFtXjA?e=7AdRaR", name="Beans, Eggs, Meats, and Nuts Group")
Eggs = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgnUGnlDgWijXW0NQ?e=eyVioN", name="Beans, Eggs, Meats, and Nuts Group")
Cheese = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgoEeWkJJwwFpAjjg?e=8bSxrS", name="Cheese, Milk, and Yoghurt Group")
Yoghurt = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgqR4Gt0tjO6voKqQ?e=uUfFIn", name="Cheese, Milk, and Yoghurt Group")
Milk = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPheYrsjySxpuCBKQQ?e=LapjAI", name="Cheese, Milk, and Yoghurt Group")

In [16]:
dfFruits = Fruits.onedrive_directdownload()
dfNonStarchVegetables = NSVeg.onedrive_directdownload()
dfPotatoes = Potatoes.onedrive_directdownload()
dfStarchyVeg = StarchyVeg.onedrive_directdownload()
dfBeanLegume = BeanLegume.onedrive_directdownload()
dfNutsSeeds = NutsSeeds.onedrive_directdownload()
dfRefinedGrains = RefinedGrains.onedrive_directdownload()
dfWholeGrains = WholeGrains.onedrive_directdownload()
dfProcessedMeat = ProcessedMeat.onedrive_directdownload()
dfSeafoods = Seafoods.onedrive_directdownload()
dfEggs = Eggs.onedrive_directdownload()
dfCheese = Cheese.onedrive_directdownload()
dfYoghurt = Yoghurt.onedrive_directdownload()
dfMilk = Milk.onedrive_directdownload()

In [24]:
dfFruits

,superregion2,iso3,age,female,urban,edu,year,varnum,v01_type,v01_type_desc,median,upperci_95,lowerci_95,serving,s_lowerci_95,s_upperci_95
0,SAARC,AFG,0.5,0,0,1,1990,1,1,1: Foods & Beverages,10.198521,21.203149,4.847648,0.208133,0.098932,0.432717
1,SAARC,AFG,0.5,0,0,2,1990,1,1,1: Foods & Beverages,14.882476,31.914361,7.066668,0.303724,0.144218,0.651313
2,SAARC,AFG,0.5,0,0,3,1990,1,1,1: Foods & Beverages,19.841635,41.671546,9.462270,0.404931,0.193108,0.850440
3,SAARC,AFG,0.5,0,0,999,1990,1,1,1: Foods & Beverages,11.303815,21.286601,6.259829,0.230690,0.127752,0.434420
4,SAARC,AFG,0.5,0,1,1,1990,1,1,1: Foods & Beverages,14.171020,29.690704,6.785812,0.289204,0.138486,0.605933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072255,SSA,ZWE,999.0,999,1,999,2018,1,1,1: Foods & Beverages,96.531649,105.744426,88.184469,1.007112,0.920026,1.103228
1072256,SSA,ZWE,999.0,999,999,1,2018,1,1,1: Foods & Beverages,64.691141,70.656261,59.243076,0.674921,0.618081,0.737155
1072257,SSA,ZWE,999.0,999,999,2,2018,1,1,1: Foods & Beverages,84.075382,91.694214,76.854681,0.877156,0.801822,0.956643
1072258,SSA,ZWE,999.0,999,999,3,2018,1,1,1: Foods & Beverages,114.820538,126.582295,103.917883,1.197919,1.084172,1.320629
1072259,SSA,ZWE,999.0,999,999,999,2018,1,1,1: Foods & Beverages,83.372898,90.912485,76.524643,0.869827,0.798379,0.948487

In [1]:
import pandas as pd
dfFruits = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/Fruits.pkl")
dfNonStarchVegetables = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/NonStarchVegetables.pkl")
dfPotatoes = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/Potatoes.pkl")
dfStarchyVeg = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/StarchyVeg.pkl")
dfBeanLegume = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/BeanLegume.pkl")
dfNutsSeeds = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/NutsSeeds.pkl")
dfRefinedGrains = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/RefinedGrains.pkl")
dfWholeGrains = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/WholeGrains.pkl")
dfProcessedMeat = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/ProcessedMeat.pkl")
dfSeafoods = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/Seafoods.pkl")
dfEggs = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/Eggs.pkl")
dfCheese = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/Cheese.pkl")
dfYoghurt = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/Yoghurt.pkl")
dfMilk = pd.read_pickle("D:/Proj 406 Datasets/FoodDietDataset/dietdataframe/Milk.pkl")

In [2]:
def getTotals(df):
    dfTotal = df[[any([age, female, urban, edu]) 
    for age, female, urban, edu 
    in zip(df.age==999, df.female==999, df.urban==999, df.edu==999)]]
    dfTotal = dfTotal[dfTotal.columns.drop(['median', 'upperci_95', 'lowerci_95', 's_lowerci_95', 's_upperci_95']+list(dfTotal.filter(regex='type')))]
    return dfTotal

FruitsTotals = getTotals(dfFruits)
NonStarchVegetablesTotals = getTotals(dfNonStarchVegetables)
PotatoesTotals = getTotals(dfPotatoes)
StarchyVegTotals = getTotals(dfStarchyVeg)
BeanLegumeTotals = getTotals(dfBeanLegume)
NutSeedsTotals = getTotals(dfNutsSeeds)
RefinedGrainsTotals = getTotals(dfRefinedGrains)
WholeGrainsTotals = getTotals(dfWholeGrains)
ProcessedMeatTotals = getTotals(dfProcessedMeat)
SeafoodsTotals = getTotals(dfSeafoods)
EggsTotals = getTotals(dfEggs)
CheeseTotals = getTotals(dfCheese)
YoghurtTotals = getTotals(dfYoghurt)
MilkTotals = getTotals(dfMilk)

Totals = [FruitsTotals, NonStarchVegetablesTotals, PotatoesTotals, StarchyVegTotals,
    BeanLegumeTotals, NutSeedsTotals, RefinedGrainsTotals, WholeGrainsTotals,
    ProcessedMeatTotals, SeafoodsTotals, EggsTotals, CheeseTotals,
    YoghurtTotals, MilkTotals]
dfTotals = pd.concat(Totals)

In [19]:
dfTotals.describe(include='all')

,superregion2,iso3,age,female,urban,edu,year,varnum,serving
count,10225320,10225320,1.022532e+07,1.022532e+07,1.022532e+07,1.022532e+07,1.022532e+07,1.022532e+07,1.019525e+07
unique,7,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,SSA,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2653056,55272,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.064468e+02,4.891277e+02,4.891277e+02,3.679202e+02,2.004714e+03,1.085714e+01,6.239673e-01
std,NaN,NaN,2.349611e+02,4.991371e+02,4.991371e+02,4.805469e+02,9.587407e+00,1.339967e+01,7.957784e-01
min,NaN,NaN,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.990000e+03,1.000000e+00,1.850549e-05
25%,NaN,NaN,1.750000e+01,0.000000e+00,0.000000e+00,2.000000e+00,1.995000e+03,4.000000e+00,1.322184e-01
50%,NaN,NaN,4.750000e+01,1.000000e+00,1.000000e+00,3.000000e+00,2.005000e+03,7.500000e+00,3.362493e-01
75%,NaN,NaN,7.750000e+01,9.990000e+02,9.990000e+02,9.990000e+02,2.015000e+03,1.200000e+01,7.992898e-01
max,NaN,NaN,9.990000e+02,9.990000e+02,9.990000e+02,9.990000e+02,2.018000e+03,5.700000e+01,1.720588e+01

In [5]:
if not sum(dfTotals.isna().any()):
    print('No missing values in dataset')
else:
    print('Missing Data {}'.format(dfTotals.isna().any()))

Missing Data superregion2    False
iso3            False
age             False
female          False
urban           False
edu             False
year            False
varnum          False
serving          True
dtype: bool

In [3]:
dfTrain = dfTotals[dfTotals['year'] != 2018]
dfTest = dfTotals[dfTotals['year'] == 2018]
print("Training dataframe: {} \nTesting dataframe: {}".format(dfTrain.shape, dfTest.shape))

Training dataframe: (8764560, 9)
Testing dataframe: (1460760, 9)

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

seed = 18

In [6]:
catFeaturesLowCard = ['superregion2']
catFeaturesHighCard = ['iso3']
numFeatures = ['age', 'female', 'urban', 'edu', 'varnum']
features = catFeaturesLowCard + catFeaturesHighCard + numFeatures
X = dfTrain.drop(['serving'], axis=1).copy()
y = dfTrain['serving'].copy()
X_test = dfTest.drop(['serving'], axis=1).copy()

In [10]:
numericalTransformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('scaler', StandardScaler())
])
categoricalTransformerHighCard = Pipeline(steps=[
    ('ordinal', OrdinalEncoder())
])
categoricalTransformerLowCard = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])
preprocessor = ColumnTransformer(transformers=[
    ('num', numericalTransformer, numFeatures),
    ('cat_low_card', categoricalTransformerLowCard, catFeaturesLowCard),
    ('cat_high_card', categoricalTransformerHighCard, catFeaturesHighCard)
])