In [1]:
import onedrive
import pandas as pd

Fruits = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgX2ISEEtPDUQPQLQ?e=u1lxao", name="Fruits Group")
NSVeg = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgYVP0cqr769sZpIA?e=QHbYcr", name="Vegetables Group")
Potatoes = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgcumMfzxhQdwDcWA?e=CdkUNF", name="Vegetables Group")
StarchyVeg = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPge52OmuiBxOqwbTQ?e=7ONDlx", name="Vegetables Group")
BeanLegume = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgfWilAsD5HvgRopA?e=gQIPx4", name="Beans, Eggs, Meats, and Nuts Group")
NutsSeeds = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgglQeMRUDh_1uoXQ?e=jri8gM", name="Beans, Eggs, Meats, and Nuts Group")
RefinedGrains = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgjTm7G5rmhWnX0IQ?e=Yy6hqh", name="Grains and Wheat Group")
WholeGrains = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgkQZnWmkkI7cbbOw?e=ab2NF5", name="Grains and Wheat Group")
ProcessedMeat = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPglVDt3nryNyqWpsA?e=qydSaf", name="Beans, Eggs, Meats, and Nuts Group")
Seafoods = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgmn-qkBSvvHFtXjA?e=7AdRaR", name="Beans, Eggs, Meats, and Nuts Group")
Eggs = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgnUGnlDgWijXW0NQ?e=eyVioN", name="Beans, Eggs, Meats, and Nuts Group")
Cheese = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgoEeWkJJwwFpAjjg?e=8bSxrS", name="Cheese, Milk, and Yoghurt Group")
Yoghurt = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPgqR4Gt0tjO6voKqQ?e=uUfFIn", name="Cheese, Milk, and Yoghurt Group")
Milk = onedrive.OneDriveDataset("https://1drv.ms/u/s!AvCFI7fzKgPmhPheYrsjySxpuCBKQQ?e=LapjAI", name="Cheese, Milk, and Yoghurt Group")

In [2]:
dfFruits = Fruits.onedrive_directdownload()
dfNonStarchVegetables = NSVeg.onedrive_directdownload()
dfPotatoes = Potatoes.onedrive_directdownload()
dfStarchyVeg = StarchyVeg.onedrive_directdownload()
dfBeanLegume = BeanLegume.onedrive_directdownload()
dfNutsSeeds = NutsSeeds.onedrive_directdownload()
dfRefinedGrains = RefinedGrains.onedrive_directdownload()
dfWholeGrains = WholeGrains.onedrive_directdownload()
dfProcessedMeat = ProcessedMeat.onedrive_directdownload()
dfSeafoods = Seafoods.onedrive_directdownload()
dfEggs = Eggs.onedrive_directdownload()
dfCheese = Cheese.onedrive_directdownload()
dfYoghurt = Yoghurt.onedrive_directdownload()
dfMilk = Milk.onedrive_directdownload()

KeyboardInterrupt:

In [1]:
import onedrive
import pandas as pd

dfFruits = pd.read_pickle("dietdataset/Fruits.pkl")
dfNonStarchVegetables = pd.read_pickle("dietdataset/NonStarchVegetables.pkl")
dfPotatoes = pd.read_pickle("dietdataset/Potatoes.pkl")
dfStarchyVeg = pd.read_pickle("dietdataset/StarchyVeg.pkl")
dfBeanLegume = pd.read_pickle("dietdataset/BeanLegume.pkl")
dfNutsSeeds = pd.read_pickle("dietdataset/NutsSeeds.pkl")
dfRefinedGrains = pd.read_pickle("dietdataset/RefinedGrains.pkl")
dfWholeGrains = pd.read_pickle("dietdataset/WholeGrains.pkl")
dfProcessedMeat = pd.read_pickle("dietdataset/ProcessedMeat.pkl")
dfSeafoods = pd.read_pickle("dietdataset/Seafoods.pkl")
dfEggs = pd.read_pickle("dietdataset/Eggs.pkl")
dfCheese = pd.read_pickle("dietdataset/Cheese.pkl")
dfYoghurt = pd.read_pickle("dietdataset/Yoghurt.pkl")
dfMilk = pd.read_pickle("dietdataset/Milk.pkl")

In [2]:
def getTotals(df):
    dfTotal = df[[any([age, female, urban, edu]) 
    for age, female, urban, edu 
    in zip(df.age==999, df.female==999, df.urban==999, df.edu==999)]]
    dfTotal = dfTotal[dfTotal.columns.drop(['median', 'upperci_95', 'lowerci_95', 's_lowerci_95', 's_upperci_95']+list(dfTotal.filter(regex='type')))]
    return dfTotal

FruitsTotals = getTotals(dfFruits)
NonStarchVegetablesTotals = getTotals(dfNonStarchVegetables)
PotatoesTotals = getTotals(dfPotatoes)
StarchyVegTotals = getTotals(dfStarchyVeg)
BeanLegumeTotals = getTotals(dfBeanLegume)
NutSeedsTotals = getTotals(dfNutsSeeds)
RefinedGrainsTotals = getTotals(dfRefinedGrains)
WholeGrainsTotals = getTotals(dfWholeGrains)
ProcessedMeatTotals = getTotals(dfProcessedMeat)
SeafoodsTotals = getTotals(dfSeafoods)
EggsTotals = getTotals(dfEggs)
CheeseTotals = getTotals(dfCheese)
YoghurtTotals = getTotals(dfYoghurt)
MilkTotals = getTotals(dfMilk)

Totals = [FruitsTotals, NonStarchVegetablesTotals, PotatoesTotals, StarchyVegTotals,
    BeanLegumeTotals, NutSeedsTotals, RefinedGrainsTotals, WholeGrainsTotals,
    ProcessedMeatTotals, SeafoodsTotals, EggsTotals, CheeseTotals,
    YoghurtTotals, MilkTotals]
dfTotals = pd.concat(Totals)
dfTotals.dropna(inplace=True)
dfTotals.reset_index(inplace=True)
dfTotals.drop('index', axis=1, inplace=True)

In [6]:
if not sum(dfTotals.isna().any()):
    print('No missing values in dataset')
else:
    print('Missing Data {}'.format(dfTotals.isna().any()))

No missing values in dataset

In [7]:
GDDMetadata = onedrive.OneDriveDataset("https://1drv.ms/x/s!AvCFI7fzKgPmhPdgyKnmij1HR-FaOg?e=MJs3GQ", excel=True, sheet=None, header=1).onedrive_directdownload()

{'File nomenclature':     Numeric Code                  GDD Variable Label  Unnamed: 2  \
 0              1                              Fruits         NaN
 1              2              Non-starchy vegetables         NaN
 2              3                            Potatoes         NaN
 3              4            Other starchy vegetables         NaN
 4              5                   Beans and legumes         NaN
 5              6                      Nuts and seeds         NaN
 6              7                      Refined grains         NaN
 7              8                        Whole grains         NaN
 8              9               Total processed meats         NaN
 9             11                      Total seafoods         NaN
 10            12                                Eggs         NaN
 11            13                              Cheese         NaN
 12            14  Yoghurt (including fermented milk)         NaN
 13            15           Sugar-sweetened beverages         NaN
 14            16                        Fruit juices         NaN
 15            17                              Coffee         NaN
 16            18                                 Tea         NaN
 17            22                 Total carbohydrates         NaN
 18            23                       Total protein         NaN
 19            27                       Saturated fat         NaN
 20            28         Monounsaturated fatty acids         NaN
 21            29                   Total omega-6 fat         NaN
 22            30                 Seafood omega-3 fat         NaN
 23            31                   Plant omega-3 fat         NaN
 24            24                       Dietary fiber         NaN
 25            35                        Added sugars         NaN
 26            36                             Calcium         NaN
 27            37                      Dietary sodium         NaN
 28            38                              Iodine         NaN
 29            39                                Iron         NaN
 30            40                           Magnesium         NaN
 31            41                           Potassium         NaN
 32            42                            Selenium         NaN
 33            43            Vitamin A w/ supplements         NaN
 34            45                          Vitamin B1         NaN
 35            46                          Vitamin B2         NaN
 36            47                          Vitamin B3         NaN
 37            48                          Vitamin B6         NaN
 38            49                 Vitamin B9 (Folate)         NaN
 39            51                           Vitamin C         NaN
 40            52                           Vitamin D         NaN
 41            53                           Vitamin E         NaN
 42            54                                Zinc         NaN
 43            57                          Total Milk         NaN

           Filename                                               Code
 0         *_global              All estimates are at the global level
 1   *_superregion2  All estimates are at the superregion level (se...
 2           *_cnty             All estimates are at the country level
 3              NaN                                                NaN
 4              NaN                                                NaN
 5              NaN                                                NaN
 6              NaN                                                NaN
 7              NaN                                                NaN
 8              NaN                                                NaN
 9              NaN                                                NaN
 10             NaN                                                NaN
 11             NaN                                                NaN
 12             NaN                                                NaN
 13             NaN                                                NaN
 14             NaN                                                NaN
 15             NaN                                                NaN
 16             NaN                                                NaN
 17             NaN                                                NaN
 18             NaN                                                NaN
 19             NaN                                                NaN
 20             NaN                                                NaN
 21             NaN                                                NaN
 22             NaN                                                NaN
 23             NaN                                                NaN
 24             NaN                                                NaN
 25             NaN                                                NaN
 26             NaN                                                NaN
 27             NaN                                                NaN
 28             NaN                                                NaN
 29             NaN                                                NaN
 30             NaN                                                NaN
 31             NaN                                                NaN
 32             NaN                                                NaN
 33             NaN                                                NaN
 34             NaN                                                NaN
 35             NaN                                                NaN
 36             NaN                                                NaN
 37             NaN                                                NaN
 38             NaN                                                NaN
 39             NaN                                                NaN
 40             NaN                                                NaN
 41             NaN                                                NaN
 42             NaN                                                NaN
 43             NaN                                                NaN  ,
 'Stratum-level characteristics':                     Label Code  Unnamed: 2 Label.1  \
 0             Afghanistan  AFG         NaN    Asia
 1                  Angola  AGO         NaN     FSU
 2                 Albania  ALB         NaN     HIC
 3                 Andorra  AND         NaN     LAC
 4    United Arab Emirates  ARE         NaN    MENA
 ..                    ...  ...         ...     ...
 182                 Samoa  WSM         NaN     NaN
 183                 Yemen  YEM         NaN     NaN
 184          South Africa  ZAF         NaN     NaN
 185                Zambia  ZMB         NaN     NaN
 186              Zimbabwe  ZWE         NaN     NaN

                          Code.1  Unnamed: 5      Label.2  Code.2  Unnamed: 8  \
 0         East & Southeast Asia         NaN     0-11 mo.     0.5         NaN
 1           Former Soviet Union         NaN    12-23 mo.     1.5         NaN
 2         High-Income Countries         NaN    2-5 years     2.5         NaN
 3     Latin America & Caribbean         NaN   6-10 years     7.5         NaN
 4    Middle East & North Africa         NaN  11-14 years    12.5         NaN
 ..                          ...         ...          ...     ...         ...
 182                         NaN         NaN          NaN     NaN         NaN
 183                         NaN         NaN          NaN     NaN         NaN
 184                         NaN         NaN          NaN     NaN         NaN
 185                         NaN         NaN          NaN     NaN         NaN
 186                         NaN         NaN          NaN     NaN         NaN

                     Label.3 Code.3 Unnamed: 11         Label.4 Code.4  \
 0    Low (0-6 years formal)      1         NaN           Rural      0
 1    Medium (6.01-12 years)      2         NaN           Urban      1
 2       High (12.01+ years)      3         NaN  All residences    999
 3      All education levels    999         NaN             NaN    NaN
 4                       NaN    NaN         NaN             NaN    NaN
 ..                      ...    ...         ...             ...    ...
 182                     NaN    NaN         NaN             NaN    NaN
 183                     NaN    NaN         NaN             NaN    NaN
 184                     NaN    NaN         NaN             NaN    NaN
 185                     NaN    NaN         NaN             NaN    NaN
 186                     NaN    NaN         NaN             NaN    NaN

     Unnamed: 14     Label.5  Code.5
 0           NaN        Male     0.0
 1           NaN      Female     1.0
 2           NaN  Both sexes   999.0
 3           NaN         NaN     NaN
 4           NaN         NaN     NaN
 ..          ...         ...     ...
 182         NaN         NaN     NaN
 183         NaN         NaN     NaN
 184         NaN         NaN     NaN
 185         NaN         NaN     NaN
 186         NaN         NaN     NaN

 [187 rows x 17 columns],
 'Dietary intake data':                     GDD Variable Label  \
 0                         Added sugars
 1                    Beans and legumes
 2                              Calcium
 3                               Cheese
 4                               Coffee
 5                  Dietary cholesterol
 6                        Dietary fiber
 7                       Dietary sodium
 8                                 Eggs
 9                         Fruit juices
 10                              Fruits
 11                              Iodine
 12                                Iron
 13                           Magnesium
 14                 Monounsaturated fat
 15              Non-starchy vegetables
 16                      Nuts and seeds
 17            Other starchy vegetables
 18             Plant omega-3 (n-3) fat
 19                       Plant protein
 20                           Potassium
 21                            Potatoes
 22                    Reduced fat milk
 23                      Refined grains
 24                       Saturated fat
 25           Seafood omega-3 (n-3) fat
 26                            Selenium
 27           Sugar-sweetened beverages
 28                                 Tea
 29                Total animal protein
 30                 Total carbohydrates
 31                        Total energy
 32                          Total Milk
 33           Total omega-6 fatty acids
 34               Total processed meats
 35                       Total protein
 36                      Total seafoods
 37                    Trans fatty acid
 38               Unprocessed red meats
 39          Vitamin A with supplements
 40       Vitamin A without supplements
 41                          Vitamin B1
 42                         Vitamin B12
 43                          Vitamin B2
 44                          Vitamin B3
 45                          Vitamin B6
 46                 Vitamin B9 (Folate)
 47                           Vitamin C
 48                           Vitamin D
 49                           Vitamin E
 50                      Whole fat milk
 51                        Whole grains
 52  Yoghurt (including fermented milk)
 53                                Zinc

                                 GDD Variable Unit  Unnamed: 2  \
 0   % of total kcal per day (energy contribution)         NaN
 1                                   grams per day         NaN
 2                         milligrams (mg) per day         NaN
 3                                   grams per day         NaN
 4                           cups/day (1 cup=8 oz)         NaN
 5                         milligrams (mg) per day         NaN
 6                                   grams per day         NaN
 7                         milligrams (mg) per day         NaN
 8                                   grams per day         NaN
 9                                   grams per day         NaN
 10                                  grams per day         NaN
 11                        micrograms (µg) per day         NaN
 12                        milligrams (mg) per day         NaN
 13                        milligrams (mg) per day         NaN
 14  % of total kcal per day (energy contribution)         NaN
 15                                  grams per day         NaN
 16                                  grams per day         NaN
 17                                  grams per day         NaN
 18                        milligrams (mg) per day         NaN
 19                                  grams per day         NaN
 20                        milligrams (mg) per day         NaN
 21                                  grams per day         NaN
 22                                  grams per day         NaN
 23                                  grams per day         NaN
 24  % of total kcal per day (energy contribution)         NaN
 25                        milligrams (mg) per day         NaN
 26                        micrograms (µg) per day         NaN
 27                                  grams per day         NaN
 28                          cups/day (1 cup=8 oz)         NaN
 29                                  grams per day         NaN
 30  % of total kcal per day (energy contribution)         NaN
 31                                   kcal per day         NaN
 32                                  grams per day         NaN
 33  % of total kcal per day (energy contribution)         NaN
 34                                  grams per day         NaN
 35                                  grams per day         NaN
 36                                  grams per day         NaN
 37  % of total kcal per day (energy contribution)         NaN
 38                                  grams per day         NaN
 39   μg RAE/day (RAE=retinol activity equivalent)         NaN
 40   μg RAE/day (RAE=retinol activity equivalent)         NaN
 41                        milligrams (mg) per day         NaN
 42                        micrograms (µg) per day         NaN
 43                        milligrams (mg) per day         NaN
 44                        milligrams (mg) per day         NaN
 45                        milligrams (mg) per day         NaN
 46                    micrograms (µg) per day DFE         NaN
 47                        milligrams (mg) per day         NaN
 48                        micrograms (µg) per day         NaN
 49                        milligrams (mg) per day         NaN
 50                                  grams per day         NaN
 51                                  grams per day         NaN
 52                                  grams per day         NaN
 53                        milligrams (mg) per day         NaN

                                              Variable  \
 0                                              median
 1                                          lowerci_95
 2                                          upperci_95
 3                                             serving
 4                                        s_lowerci_95
 5                                        s_upperci_95
 6                                                 NaN
 7   *Despite its name, the 'median' variable is in...
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN
 30                                                NaN
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN
 35                                                NaN
 36                                                NaN
 37                                                NaN
 38                                                NaN
 39                                                NaN
 40                                                NaN
 41                                                NaN
 42                                                NaN
 43                                                NaN
 44                                                NaN
 45                                                NaN
 46                                                NaN
 47                                                NaN
 48                                                NaN
 49                                                NaN
 50                                                NaN
 51                                                NaN
 52                                                NaN
 53                                                NaN

                                            Definition      Unnamed: 5
 0   Mean daily intake of variable vXX in GDD varia...             NaN
 1   Lower uncertainty interval (2.5°) for mean intake  vXX_upperci_95
 2   Upper uncertainty interval (97.5°) for mean in...             NaN
 3   Mean daily intake of variable vXX in serving u...             NaN
 4   Lower uncertainty interval (2.5°) for mean int...             NaN
 5   Upper uncertainty interval (97.5°) for mean in...             NaN
 6                                                 NaN             NaN
 7                                                 NaN             NaN
 8                                                 NaN             NaN
 9                                                 NaN             NaN
 10                                                NaN             NaN
 11                                                NaN             NaN
 12                                                NaN             NaN
 13                                                NaN             NaN
 14                                                NaN             NaN
 15                                                NaN             NaN
 16                                                NaN             NaN
 17                                                NaN             NaN
 18                                                NaN             NaN
 19                                                NaN             NaN
 20                                                NaN             NaN
 21                                                NaN             NaN
 22                                                NaN             NaN
 23                                                NaN             NaN
 24                                                NaN             NaN
 25                                                NaN             NaN
 26                                                NaN             NaN
 27                                                NaN             NaN
 28                                                NaN             NaN

In [31]:
dfGDDMetada.drop(index=dfGDDMetada.index[0], axis=0, inplace=True)
dfTotals = dfTotals.merge(dfGDDMetada)

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [7]:
dfTotals.describe(include='all')

,superregion2,iso3,age,female,urban,edu,year,varnum,serving
count,10195248,10195248,1.019525e+07,1.019525e+07,1.019525e+07,1.019525e+07,1.019525e+07,1.019525e+07,1.019525e+07
unique,7,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,SSA,JAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2651544,55272,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.064133e+02,4.888852e+02,4.901532e+02,3.676483e+02,2.004715e+03,1.085714e+01,6.239673e-01
std,NaN,NaN,2.349805e+02,4.991319e+02,4.991568e+02,4.804718e+02,9.586844e+00,1.339967e+01,7.957784e-01
min,NaN,NaN,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.990000e+03,1.000000e+00,1.850549e-05
25%,NaN,NaN,1.750000e+01,0.000000e+00,0.000000e+00,2.000000e+00,1.995000e+03,4.000000e+00,1.322184e-01
50%,NaN,NaN,4.750000e+01,1.000000e+00,1.000000e+00,3.000000e+00,2.005000e+03,7.500000e+00,3.362493e-01
75%,NaN,NaN,7.750000e+01,9.990000e+02,9.990000e+02,9.990000e+02,2.015000e+03,1.200000e+01,7.992898e-01
max,NaN,NaN,9.990000e+02,9.990000e+02,9.990000e+02,9.990000e+02,2.018000e+03,5.700000e+01,1.720588e+01

In [5]:
dfTrain = dfTotals[dfTotals['year'] != 2018]
dfValid = dfTotals[dfTotals['year'] == 2018]
print("Training dataframe: {} \nValidation dataframe: {}".format(dfTrain.shape, dfValid.shape))

Training dataframe: (8738520, 9)
Validation dataframe: (1456728, 9)

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

seed = 18

In [6]:
catFeaturesLowCard = ['superregion2', 'age', 'female', 'urban', 'edu', 'varnum']
catFeaturesHighCard = ['iso3']
# numFeatures = []
features = catFeaturesLowCard + catFeaturesHighCard # + numFeatures

X = dfTrain.drop(['serving'], axis=1).copy()
y = dfTrain['serving'].copy()
X_valid = dfValid.drop(['serving'], axis=1).copy()
y_valid = dfValid['serving'].copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=seed)

In [7]:
numericalTransformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('scaler', StandardScaler())
])
categoricalTransformerHighCard = Pipeline(steps=[
    ('ordinal', OrdinalEncoder())
])
categoricalTransformerLowCard = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])
preprocessor = ColumnTransformer(transformers=[
    # ('num', numericalTransformer, numFeatures),
    ('cat_low_card', categoricalTransformerLowCard, catFeaturesLowCard),
    ('cat_high_card', categoricalTransformerHighCard, catFeaturesHighCard)
])

In [11]:
models = {
    'LightGBM 1': LGBMRegressor(
            max_depth = 10, # reduce max depth from 18
            learning_rate = 0.03,
            metric = 'rmse', 
            n_estimators = 20000,
            reg_alpha = 10.924491968127692,
            reg_lambda = 17.396730654687218,
            colsample_bytree = 0.11807135201147481,
            subsample = 0.7582562557431147,
            num_leaves = 63,
            min_child_samples = 27,
            max_bin = 523,
            n_jobs = -1,
            random_seed = seed
        ),

    'LightGBM 2': LGBMRegressor(
            max_depth = 10, # reduce max depth from 18
            learning_rate = 0.01,
            metric = 'rmse', 
            n_estimators = 20000,
            reg_alpha = 10.924491968127692,
            reg_lambda = 17.396730654687218,
            colsample_bytree = 0.11807135201147481,
            subsample = 0.7582562557431147,
            num_leaves = 63,
            min_child_samples = 27,
            max_bin = 523,
            n_jobs = -1,
            random_seed = seed
        ),

    'Random Forest': RandomForestRegressor(
            max_depth=10,
            random_state = seed 
        ),

    'CatBoost': CatBoostRegressor(
            loss_function = 'RMSE',
            eval_metric = 'RMSE',
            depth = 4,
            l2_leaf_reg = 4.2,
            od_type = 'IncToDec',
            bagging_temperature = 290,
            cat_features = [col for col in X_test.columns if len(X_test.columns)>9],
            iterations = 10000,
            thread_count = 4,
            random_seed = seed
        )}

In [12]:
my_pipeline = {'pipe1': Pipeline(steps=[
    ('preprocessor', preprocessor),
    (list(models)[0], models['LightGBM 1'])
]),
'pipe2': Pipeline(steps=[
    ('preprocessor', preprocessor),
    (list(models)[1], models['LightGBM 2'])
]),
'pipe3': Pipeline(steps=[
    ('preprocessor', preprocessor),
    (list(models)[2], models['Random Forest'])
]),
'pipe4': Pipeline(steps=[
    ('preprocessor', preprocessor),
    (list(models)[3], models['CatBoost'])
])}

In [16]:
preds = {}

{'pipe4': array([0.46747747, 0.29883028, 0.35774727, ..., 0.6774327 , 0.27693633,
        0.1768933 ])}

In [18]:
def getPreds(pipe):
    pipe.fit(X_train, y_train)
    return pipe.predict(X_test)

preds['pipe1'] = getPreds(my_pipeline['pipe1'])

In [19]:
preds['pipe2'] = getPreds(my_pipeline['pipe2'])

In [20]:
preds['pipe3'] = getPreds(my_pipeline['pipe3'])

In [ ]:
preds['pipe4'] = getPreds(my_pipeline['pipe4'])

In [24]:
print(mean_squared_error(y_test, preds['pipe1'], squared=False))
print(mean_squared_error(y_test, preds['pipe2'], squared=False))
print(mean_squared_error(y_test, preds['pipe3'], squared=False))
print(mean_squared_error(y_test, preds['pipe4'], squared=False))

0.3475272399306827
0.35429417296602517
0.453893469441556
0.31015730239289246